<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permiso para consultar la lista de apps instaladas -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <!-- El TV Box normalmente NO tiene pantalla tactil: lo declaramos opcional
         y exigimos soporte de "leanback" (interfaz de TV con control remoto) -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:banner="@drawable/banner"
        android:label="@string/app_name"
        android:theme="@style/Theme.TvCleaner">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- LEANBACK_LAUNCHER = aparece en la pantalla de inicio del Android TV -->
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <!-- LAUNCHER = tambien visible en cajas que usan launcher de celular -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
